* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  background-color: aquamarine;
  padding: 10px;

  display: flex;
  flex-direction: column;

  /*
  justify-content:
  Used to controll how the items should be positioned along the main axis
  */
  justify-content: center;

  /*
align-items:
Used to controll how the items should be positioned along the cross axis

[][][][]  []        []
[]        []        [][][][]
[]        [][][][]  []
*/
  align-items: flex-start;

  /*
baseline will align the text even if the items are different sizes or even fonts
*/
}

.item {
  background-color: blueviolet;
  padding: 45px;
  margin: 30px;
  color: coral;
  font-size: 40px;
}

.i2 {
  background-color: blueviolet;
  padding: 45px;
  margin: 30px;
  color: coral;
  height: 200px;
}

.i4 {
  background-color: blueviolet;
  padding: 45px;
  margin: 30px;
  color: coral;
  font-size: 70px;
}
